/* Aturan dasar untuk menghilangkan margin/padding dan mengatur tinggi halaman */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.advanced-logo {
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    gap: 20px;
}

/* Penataan header (pojok kanan atas) */
.header__links {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    gap: 20px;
}

/* Gaya untuk tautan di header */
.header__links a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

/* Efek hover pada tautan */
.header__links a:hover {
    text-decoration: underline;
}

.logo {
    text-align: center;
    margin-bottom: 10px;
}

.logo img {
    width: 272px;
    height: auto;
}

form {
    text-align: center;
}

/* Wadah untuk search bar dan ikon */
.search-container {
    position: relative;
    width: 584px;
    max-width: 90%;
}

/* Gaya untuk input teks pencarian */
.search-container input[type="text"] {
    width: 100%; /* Mengisi lebar wadah */
    padding: 12px 20px;
    padding-left: 40px; /* Jarak untuk ikon */
    border: 1px solid #dcdcdc;
    border-radius: 24px;
    outline: none;
    font-size: 16px;
}

.search-container input[type="text"]:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,0.28);
}

.search-container input[type="text"]:focus {
    border-color: #4285f4;
    box-shadow: 0 1px 6px rgba(66, 133, 244, 0.5);
}

/* Posisi ikon kaca pembesar */
.search-container .fas.fa-search {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #9aa0a6;
}

input[type="submit"] {
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f8f9fa;
    cursor: pointer;
    font-size: 14px;
}

input[type="submit"]:hover {
    border: 1px solid #dadce8;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.logo--images {
    text-align: center;
    margin-bottom: 10px;
}

.logo--images span {
    font-size: 16px;
    color: #4285f4;
    text-decoration: none;
    margin-left: -56px;
}


